<launch>
    <node pkg="ttp" type="mm_bridge.py" output="screen" name="mm_bridge" />
    <node pkg="ttp" type="wam.py" output="screen" name="wam" />
    <node pkg="ttp" type="motion_control.py" output="screen" name="motion_control" />
    <node pkg="ttp" type="GUI.py" output="screen" name="GUI" />
    
    <!-- =========================================== -->
    <!-- ALL following about WAM simulation and rviz -->
    <!-- =========================================== -->

    <!-- By default, we do not start a database (it can be large) -->
    <arg name="db" default="false" />

    <!-- By default, we are not in debug mode -->
    <arg name="debug" default="false" />

    <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <include file="$(find barrett_wam_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    </include>

    <!-- If needed, broadcast static tf for robot root -->

    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
    <include file="$(find barrett_wam_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    </include>

    

    <!-- If database loading was enabled, start mongodb as well -->
    <include file="$(find barrett_wam_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)"/>


</launch>

